# Logs
FrontEnd/logs
FrontEnd/*.log
FrontEnd/npm-debug.log*
FrontEnd/yarn-debug.log*
FrontEnd/yarn-error.log*
FrontEnd/pnpm-debug.log*
FrontEnd/lerna-debug.log*

# Node modules
FrontEnd/node_modules/

# Build outputs
FrontEnd/dist/
FrontEnd/dist-ssr/
FrontEnd/*.local

# Editor directories and files
FrontEnd/.vscode/*
!FrontEnd/.vscode/extensions.json
FrontEnd/.idea/
FrontEnd/.DS_Store
FrontEnd/*.suo
FrontEnd/*.ntvs*
FrontEnd/*.njsproj
FrontEnd/*.sln
FrontEnd/*.sw?
